[Desktop Entry]
Name=appimageupdater
Type=Application
Exec=appimageupdater
Icon=AppImageUpdater
Terminal=true
Categories=System;
Comment=AppImage Updater for Humans (CLI).
