[Desktop Entry]
Name=AppImage Updater
Type=Application
Exec=AppImageUpdater
Icon=AppImageUpdater
Terminal=false
Categories=System;
Comment=AppImage Updater for Humans.
